:root {
    --warm-white: #fcf7f0;
    --orange-red: #ed601a;
    --gold: #f3de40;
    --icg: #34bf83;
    --source-bg: #f0f8fc;
    --off-black: #242424;
    --white: white;
    --black: black;
    --source-blue: #18376d;
    --source-dark: #001d39;
    --purple: #7038cfcc;
    --dark-purple: #4d28a9cc;
}

* {
    box-sizing: border-box;
}

html,
body {
    background-color: var(--purple);
    // background: url('public/assets/parallax_header/foreground_color.png') no-repeat center center;
    // background-size: cover;
    margin: 0;
    padding: 0;
    // overflow: hidden
    color: var(--warm-white);
    font-family: Space Mono, sans-serif;
    font-size: 14px;
    line-height: 20px;
}


.paragraph-2 {
    text-shadow: 0 0 4px #000;
    max-width: 480px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}

h6 {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}

a {
    color: #f3f3f3;
    text-decoration: none;
}

input.w-button {
    -webkit-appearance: button;
    appearance: button;
}

.w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
}

label {
    margin-bottom: 5px;
    font-weight: 700;
    display: block;
}

textarea {
    overflow: auto;
}

textarea.w-input,
textarea.w-select {
    height: auto;
}


.w-input,
.w-select {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
}


$imageAspectRatio: 2/3;

.parallax {
    background-color: #FEDCC8;
    // background: url('public/assets/parallax_header/foreground_color.png') no-repeat center center;
    // background-size: cover;
    perspective-origin: center;
    perspective: 100px;
    height: 100vh;
    // height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // width: 100%;
    display: flex;


}


.parallax__layer {
    position: absolute;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    justify-content: center;

    img {
        display: block;
        width: 100vw;
        min-width: 500px;
        min-height: #{$imageAspectRatio * 500px};
        height: (#{$imageAspectRatio * 100vw});
    }
}

.parallax__cover {
    // background: #2d112b;
    background: url('public/assets/parallax_header/foreground_color.png') no-repeat center center;
    background-size: cover;
    position: relative;
    top: calc(max(100vw, 500px) * #{$imageAspectRatio} * 0.99);
    height: max-content;
    width: 100vw;
    min-width: 100%;
    min-height: 200vh;
    z-index: 2;
    padding-top: 100px;
}




$parallax__layers: 5;

@for $i from 0 through $parallax__layers {

    $parallaxScale: 2;

    $x: (
        $parallax__layers - $i) / 2 * $parallaxScale;


    // $heightDifferenceOneSide: $x / 2;
    $totalOffset: calc((100vh - #{$imageAspectRatio*100vw}) / #{$parallax__layers}
    );

.parallax__layer__#{$i} {
    transform: translateZ(#{-100px * $x}) scale($x + 1) translateY(#{$totalOffset});
}

@if $i ==$parallax__layers {
    .parallax__cover {
        transform: translateZ(#{-100px * $x}) scale($x + 1) translateY(#{$totalOffset});
    }
}
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width: 991px) {
    .page-wrapper {
        padding-left: 100px;
        padding-right: 100px;
    }

    .page-wrapper.home {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media screen and (max-width: 767px) {

    .page-wrapper,
    .page-wrapper.home {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 479px) {

    .page-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .page-wrapper.home {
        padding-left: 15px;
        padding-right: 15px;
    }
}



.about-me {
    margin-bottom: 150px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me__image {
    position: absolute;
    width: 90%;
    max-width: 450px;
    min-width: 250px;
    z-index: -1;
    aspect-ratio: 1/1;
    height: auto;
    inset: -40% 0 0 50%;
}


.about-me__text {
    max-width: 800px;
    padding: 20px;
    z-index: 1;
    position: relative;
}

.about-me__text .paragraph-2 {
    max-width: 800px;
}

.about-me__image img {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 850px) {
    .about-me__image {
        inset: -20% 0 0 25%;
    }
}

@media screen and (max-width: 590px) {
    .about-me__image {
        inset: -150px 0 0 0;
    }
}

@media screen and (max-width: 450px) {
    .about-me__image {
        inset: -100px 0 0 0;
    }
}

.project-container {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.project-portfolio__grid {
    grid-column-gap: 30px;
    grid-row-gap: 213px;
    grid-template: "." "." /1.75fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.project-portfolio__item {
    max-height: 577px;
    grid-area: span 1/span 1/span 1/span 1;
    border: 2px solid #fff8ee;
    border-radius: 15px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 40vw;
    max-height: 550px;
    min-height: 540px;
    padding: 35px 30px;
    transition: box-shadow .5s;
    display: flex;
    position: relative;
    overflow: hidden;
}


@media screen and (max-width: 1180px) {
    .project-portfolio__item {
        min-height: auto;
        height: 45vw;
    }
}

@media screen and (max-width: 991px) {
    .project-portfolio__item {
        justify-content: flex-end;
        height: auto;
        min-height: 750px;
        max-height: none;
    }
}

@media screen and (max-width: 767px) {
    .project-portfolio__item {
        grid-area: span 1/span 2/span 1/span 2;
    }
}

@media screen and (max-width: 479px) {
    .project-portfolio__item {
        flex-flow: column;
        align-items: flex-start;
        min-height: 800px;
    }
}

.project-portfolio__item:hover {
    box-shadow: 0 0 86px 6px #7038cfcc;
}

@media screen and (max-width: 991px) {
    .project-portfolio__item-overlay {
        background-color: #0000001a;
        background-image: linear-gradient(#2d112b, #140814);
        display: block;
        position: absolute;
        inset: 0%;
    }
}

.project-portfolio__item-text.item-text-width {
    max-width: 399px;
}

.project-portfolio__item-text {
    z-index: 2;
    width: 492px;
    position: relative;
}

@media screen and (max-width: 991px) {
    .project-portfolio__item-text {
        width: 100%;
    }
}

.category-heading {
    color: #fff8ee82;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}

.project-portfolio__item-text.item-text-width {
    max-width: 399px;
}

@media screen and (max-width: 991px) {
    .project-portfolio__item-text {
        width: 100%;
    }
}

.text-highlight {
    color: #47e98d;
    background-color: #4d28a9cc;
    text-decoration: none;
    transition: background-color .2s;
    display: inline;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
}

.heading-3 {
    line-height: 46px;
    word-break: break-word;
    -moz-hyphens: auto;
    hyphens: auto;
}

.text-highlight:hover {
    background-color: #7038cfcc;
}

.project-portfolio__item-image {
    perspective: 2000px;
    perspective-origin: 50% 100%;
    width: 60%;
    height: 90%;
    position: absolute;
    inset: auto 0% 0% auto;
    transform-style: flat;
}



@media screen and (max-width: 991px) {
    .project-portfolio__item-image {
        width: 92%;
        height: 71vw;
        margin-bottom: 37px;
        inset: 0% 0% auto auto;
    }
}

@media screen and (max-width: 767px) {
    .project-portfolio__item-image {
        height: 83vw;
    }
}

@media screen and (max-width: 479px) {
    .project-portfolio__item-image {
        min-width: 280px;
        height: 86vw;
        min-height: 340px;
    }
}

.project-portfolio__item-image.openSim2Real,
.project-portfolio__item-image.fume-extractor,
.project-portfolio__item-image.buell {
    width: 60%;
    max-height: 507px;
    transform: rotate(0);
    right: 5%;
    top: 5%;
}

.project-portfolio__item-image.buell {
    right: -5%;
}

.project-portfolio__item-image.self-driving-car {
    max-height: 507px;
}

.project-portfolio__item-image.resume {
    perspective: none;
    width: 90%;
}

.project-portfolio__item-image.robot253 {
    inset: 5% 0% 0% auto;
}

.project-portfolio__item-image.a40austin {
    inset: 0% 0% 0% auto;
}

.project-portfolio__item-image.esk8 {
    inset: 10% -3% 0% auto;
}

@media screen and (max-width: 991px) {


    .project-portfolio__item-image.openSim2Real {
        width: 90%;
        height: 60vw;
        max-height: 522px;
        top: 4%;
        inset: 0 -20% auto auto;
    }

    .project-portfolio__item-image.fume-extractor {
        width: 90%;
        height: 60vw;
        max-height: 590px;
        top: 4%;
        inset: 0 -10% auto auto;
    }

    .project-portfolio__item-image.self-driving-car {
        max-height: 522px;
        top: 4%;
        left: 0;
        right: 0;
    }

    .project-portfolio__item-image.buell {
        max-height: 522px;
        height: 50vw;
        right: 0;
    }

    .project-portfolio__item-image.robot253,
    .project-portfolio__item-image.a40austin,
    .project-portfolio__item-image.esk8 {
        max-height: 522px;
        height: 50vw;
        width: 90%;
        justify-content: center;
        inset: 0 -20% auto auto;
    }
}


@media screen and (max-width: 767px) {

    .project-portfolio__item-image.openSim2Real,
    .project-portfolio__item-image.fume-extractor,
    .project-portfolio__item-image.self-driving-car,
    .project-portfolio__item-image.buell {
        height: 67vw;
    }

    .project-portfolio__item-image.openSim2Real,
    .project-portfolio__item-image.fume-extractor {

        left: 5%;
    }

    .project-portfolio__item-image.self-driving-car {
        left: 5%;
        right: 5%;
    }

    .project-portfolio__item-image.robot253,
    .project-portfolio__item-image.a40austin,
    .project-portfolio__item-image.esk8 {
        max-height: 522px;
        height: 70vw;
        width: 90%;
        inset: -5% auto auto auto;
    }

}

@media screen and (max-width: 479px) {

    .project-portfolio__item-image.openSim2Real,
    .project-portfolio__item-image.fume-extractor,
    .project-portfolio__item-image.self-driving-car,
    .project-portfolio__item-image.buell {
        height: 57vw;
        min-height: 240px;
        // right: 0%;
    }

    .project-portfolio__item-image.fume-extractor,
    .project-portfolio__item-image.openSim2Real {
        top: 1%;
    }

    .project-portfolio__item-image.robot253,
    .project-portfolio__item-image.buell,
    .project-portfolio__item-image.esk8 {
        top: 0%;
        inset: -5% 5% auto auto;
    }

    .project-portfolio__item-image.self-driving-car {
        left: 8%;
        right: 8%;
    }
}

.project-portfolio__item-image-container {
    transform-origin: 50% 100%;
    width: auto;
    min-width: 50px;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: auto;
    right: 5%;
    bottom: 0%;
    transform: none;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 991px) {
    .project-portfolio__item-image-container {
        width: 70vw;
        top: 3%;
        bottom: auto;
        justify-content: center;
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
    width: auto;
    /* Maintain aspect ratio */
    height: 100%;
    /* Fill the container's height */
    min-height: 100%;
    object-fit: contain;
    /* Ensure aspect ratio is preserved */
    display: inline-block;
    border: 0;

}

#opensim2real-canvas1,
#opensim2real-canvas2 {
    vertical-align: middle;
    display: inline-block;
    object-fit: contain;
    /* Ensure aspect ratio is preserved */
    height: 100%;
    /* Fill the container's height */
    width: auto;
    /* Maintain aspect ratio */
    aspect-ratio: 637 / 824;
}

.background,
.splash {
    opacity: 1;
    height: 100%;
    position: absolute;
    inset: 0%;
    z-index: 4;
}

.project-portfolio__item-image-container .fumes,
.splash {
    opacity: 0;
}

.project-portfolio__item-image-container .fumes {
    position: absolute;
    transform: rotate(80deg);
    height: 20% !important;
    min-height: 20% !important;
    inset: 58% auto auto 75% !important;
    z-index: 6 !important;
}

@media screen and (max-width: 991px) {
    .project-portfolio__item-image-container .fumes {
        inset: 58% auto auto 65% !important;
    }
}

@media screen and (max-width: 767px) {
    .project-portfolio__item-image-container .fumes {
        inset: 58% auto auto 73% !important;
    }
}

@media screen and (max-width: 479px) {
    .project-portfolio__item-image-container .fumes {
        inset: 56% auto auto 62% !important;
    }
}

@media screen and (max-width: 400px) {
    .project-portfolio__item-image-container .fumes {
        inset: 56% auto auto 180px !important;
    }
}

@media screen and (max-width: 350px) {
    .project-portfolio__item-image-container .fumes {
        inset: 56% auto auto 75% !important;
    }
}



.foreground {
    opacity: 0;
    height: 100%;
    width: auto;
    min-width: 50%;
    position: relative;
    z-index: 5;
}

@media screen and (max-width: 991px) {

    .background {
        opacity: 0 !important;
    }

    .foreground,
    .splash {
        opacity: 1 !important;
    }
}

.button-portfolio--tile-2 {
    z-index: 2;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    background-color: #0000;
    border: 2px solid #fff;
    border-radius: 8px;
    height: auto;
    padding: 19px 36px 20px;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    transition: color .4s, background-color .4s;
    position: relative;
}

@media screen and (max-width: 991px) {
    .button-portfolio--tile-2 {
        z-index: 10;
        position: relative;
    }
}

.project-portfolio__item-image.project-portfolio__item-image.self-driving-car .image-wrapper {
    min-height: 100%;
    min-width: 100%;
}

.laptop-keyboard-div {
    width: 104%;
    position: absolute;
    inset: 62.5% -2% auto auto;
}

@media screen and (max-width: 991px) {
    .laptop-keyboard-div {
        width: 65.5vw;
        top: 32.2vw;
        right: -1.5vw;
    }
}

@media screen and (max-width: 767px) {
    .laptop-keyboard-div {
        width: 71vw;
        top: 34.9vw;
        right: 3.5vw;
    }
}

@media screen and (max-width: 479px) {
    .laptop-keyboard-div {
        width: 78vw;
        top: 38.5vw;
        right: 5.6vw;
    }
}

.laptop-screen-div {
    transform-origin: 50% 100%;
    width: 80%;
    position: absolute;
    inset: 0% 10% auto auto;
    transform: none;
}

@media screen and (max-width: 991px) {
    .laptop-screen-div {
        width: 50vw;
        right: 6.1vw;
    }
}

@media screen and (max-width: 767px) {
    .laptop-screen-div {
        width: 54vw;
        right: 12.1vw;
    }
}

@media screen and (max-width: 479px) {
    .laptop-screen-div {
        width: 60vw;
        right: 14.7vw;
    }
}



.comp-screen {
    opacity: 0;
    background-image: url(public/assets/projects/self-driving-car/screen.gif);
    background-position: 50%;
    background-size: cover;
    width: 92.5%;
    height: 86.5%;
    position: absolute;
    inset: 9.5% auto auto 3.6%;
    z-index: 999;
}


.tablet-div {
    transform-origin: 50% 100%;
    transform-style: flat;
    width: 100%;
    position: absolute;
    inset: auto -17% 6% auto;
    transform: none;
}

@media screen and (max-width: 991px) {
    .tablet-div {
        width: 70vw;
        top: 0%;
        bottom: auto;
        right: -7vw;
    }
}

@media screen and (max-width: 767px) {
    .tablet-div {
        width: 90vw;
    }
}

@media screen and (max-width: 479px) {
    .tablet-div {
        width: 96vw;
    }
}

.tablet-screen {
    opacity: 0;
    transform-style: preserve-3d;
    background-image: url(public/assets/resume/resume_rotated.png);
    background-position: 50%;
    background-size: cover;
    width: 73.5%;
    height: 92%;
    position: absolute;
    inset: auto 13.3% 4.8% auto;
    // transform: rotateX(54deg) rotateY(0) rotate(-45.1deg);
    transform: translateZ(-2000px) rotateX(54deg) rotateY(0) rotate(-45.1deg);
    // z-index: 50;
    z-index: 999;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--purple);
        opacity: 0.5; // Adjust the opacity as needed
        // z-index: 51;
    }
}

#contact-form {
    grid-column-gap: 20px;
    grid-row-gap: 7px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    display: grid;
}

#contact-form-name-label {
    grid-area: 1/1/2/2;
}

.contact-form-name-input {
    grid-area: 2/1/3/2;
}

#contact-form-email-label {
    grid-area: 1/2/2/3;
}

.contact-form-email-input {
    grid-area: 2/2/3/3;
}

#contact-form-message-label {
    grid-area: 3/1/4/3;
}

.contact-form-message-textarea {
    grid-area: 4/1/5/3;
}

#contact-form-submit {
    grid-area: 5/2/6/3;
    justify-self: end;
}

.contact-recaptcha {
    grid-area: 5/1/6/2;
}

@media screen and (max-width: 991px) {
    #contact-form {
        grid-template-columns: 1fr;
    }

    #contact-form-name-label {
        grid-area: 1/1/2/2;
    }

    .contact-form-name-input {
        grid-area: 2/1/3/2;
    }

    #contact-form-email-label {
        grid-area: 3/1/4/2;
    }

    .contact-form-email-input {
        grid-area: 4/1/5/2;
    }

    #contact-form-message-label {
        grid-area: 5/1/6/2;
    }

    .contact-form-message-textarea {
        grid-area: 6/1/7/2;
    }

    #contact-form-submit {
        grid-area: 8/1/9/2;
        justify-self: start;
    }

    .contact-recaptcha {
        grid-area: 7/1/8/2;
    }
}


@media screen and (max-width: 767px) {
    #contact-form-submit {
        justify-self: start;
    }
}

.round-field {
    background-color: var(--warm-white);
    border-radius: 5px;
    min-height: 60px;
    margin-bottom: 20px;
}

.textarea.round-field {
    min-height: 140px;
    padding-top: 14px;
    padding-bottom: 14px;
}